@tailwind base;
@tailwind components;
@tailwind utilities;

input{
  border: 1px solid rgb(10, 10, 10, 0.3);
  border-radius: 8px;
  padding: 8px;
  outline: none;
}
input:focus{
  border: 1px solid linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
}
label{
  gap: 5px;
}